.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #63bacd, #63bacd 45%, rgb(255, 255, 255) 0);
}

.card-container { 
    display: flex;
    justify-content: center;
    align-items: center;
	box-shadow:0px 4px 4px 4px rgba(0, 0, 0, 0.25);
	min-width: fit-content;
	min-height: fit-content;
    flex-flow: row wrap;
}

.box { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
	width: 50vw;
	height: 60vh;
}

.title-box { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 43%;
    height: 30vh;
}

.login-box { 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 57%;
    height: 30vh;
}

.box-icon {
    display: flex;
    width: 150px;
}

.text {
    display: flex;
    font-size: 50px;
    font-weight: 300;
}

.text-bold {
    display: flex;
    font-size: 50px;
    font-weight: 600;
}

.text-register {
    display: flex;
    font-size: 25px;
    cursor: pointer;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    padding: .5rem 1.5rem .5rem 1.5rem;
}

.login-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.google-icon {
    margin-right: 1.5rem;
}

@media only screen and (max-width: 1750px) {
    .box {
        width: 50vw;
	    height: 60vh;
    }

    .title-box { 
        width: 45%;
        height: 25vh;
    }
    
    .login-box { 
        width: 55%;
        height: 25vh;
    }

    .box-icon {
        width: 100px;
    }
    
    .text {
        font-size: 20px;
    }
    
    .text-bold {
        font-size: 20px;
    }
    
    .text-register {
        font-size: 15px;
    }

    .login-button {
        font-size: 15px;
        width: 90%;
        padding: .1rem 1rem .1rem 1rem;
        margin: 1rem 0 1rem 0;
    }
}

@media only screen and (max-width: 900px) {
    .card-container { 
        width: 80%;
        height: 80%;
        background-color: white;
    }

    .box {
        flex-direction: column;     
    }

    .title-box { 
        align-items: center;
        height: fit-content;
        width: 100%;
    }
    
    .login-box { 
        align-items: center;
        height: fit-content;
        width: 100%;
    }

    .box-icon {
        width: 100px;
    }

    .login {
        display: none;
    }

    .full-background {
        background: var(--primary-color);
    }
    
    .text {
        font-size: 20px;
        text-align: center;
    }
    
    .text-bold {
        font-size: 20px;
        text-align: center;
    }
    
    .text-register {
        font-size: 15px;
        width: 30vw;
        text-align: center;
    }

    .login-button {
        font-size: 15px;
        width: 100%;
        padding: .1rem 1rem .1rem 1rem;
        margin: 5rem 0 1rem 0;
    }
}