<h1 mat-dialog-title>Edit shipment</h1>
<div mat-dialog-content>
  <div>
    <label class="input-label">Reciever name</label>
    <input 
      class="input" 
      [(ngModel)]="data.shipment.receiverName"
      #receiverName="ngModel"
      required/>
    
    <section class="error" *ngIf="receiverName.errors && (receiverName.dirty || receiverName.touched)">
      <div class="alert alert-danger">
          <p *ngIf="receiverName.errors.required">
              You need to enter the full name of the reciever
          </p>
          <p *ngIf="receiverName.errors.minlength">
              Receiver name must consist of at least 4 characters
          </p>
      </div>
    </section>  

    <label class="input-label">Box Tier</label>
    <select 
      class="input"
      (ngModelChange)="updateCostWeightChange($event)"
      [(ngModel)]="data.shipment.weight_kg">
      <option value="1">Basic 1KG</option>
      <option value="2">Humble 2KG</option>
      <option value="5">Deluxe 5KG</option>
      <option value="8">Premium 8KG</option>
    </select>

    <label class="input-label">Destination country</label>
    <select 
      class="input"
      (ngModelChange)="updateCostCountryChange($event)"
      [(ngModel)]="data.shipment.destinationCountry">
      <option *ngFor="let country of countries" [value]="country.id">
        {{ country.countryName }}
      </option>
    </select>

    <label class="input-label">Status</label>
    <select class="input" [(ngModel)]="data.shipment.status">
      <option *ngFor="let status of statusList" [value]="status">
        {{ translateShipmentStatus(status) }}
      </option>
    </select>

    <label class="input-label">Box colour</label>
    <input
      class="input"
      [style.background]="data.shipment.boxColour"
      [(ngModel)]="data.shipment.boxColour"
      [cpOutputFormat]="'rgba'"
      [(colorPicker)]="data.shipment.boxColour"
      readonly/>

      <p class="input-label">Estimated cost: {{ cost }} NOK</p>

  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.shipment" cdkFocusInitial>Save</button>
</div>
