.input-label {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.input {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}