.box { 
	box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
	width: 60%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0 5rem 0;
}

.info-container {
    width: 50%;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin: 4rem 0 4rem 0;
}

.input-label {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.info {
    display: inline-block;
    width: 100%;
    margin: 0 0 2rem 0;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    color: black;
    border-width: 0.5px;
}

.input {
    display: inline-block;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.req {
    font-size: 16px;
}

.input-not-req {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 900px) {
    .box { 
        width: 90%;
    }

    h1 {
        font-size: 25px;
    }

    .info-container {
        width: 80%;
    }
}