<app-navbar></app-navbar>
<div class="flex-container"> 
    <div class="box">
        <div class="info-container">
            <h1>Account Information</h1>
            <form *ngIf="!updateInfo">
                <fieldset>
                    <label class="input-label" for="firstName">First name</label>
                    <input class="info" type="text" id="firstName" name="firstName" value={{this.user?.firstName}} disabled>

                    <label class="input-label" for="lastName">Last name</label>
                    <input class="info" type="text" id="lastName" name="lastName" value={{this.user?.lastName}} disabled>

                    <label class="input-label" for="email">E-mail</label>
                    <input class="info" type="text" id="email" name="email" value={{this.user?.email}} disabled>

                    <label class="input-label" for="dateOfBirth">Date of birth</label>
                    <input class="info" type="text" id="dateOfBirth" name="dateOfBirth" value={{this.user?.dateOfBirth}} disabled>

                    <label class="input-label" for="country">Country of residence</label>
                    <input class="info" type="text" id="country" name="country" value={{this.user?.country}} disabled>

                    <label class="input-label" for="postalCode">Postal code</label>
                    <input class="info" type="text" id="postalCode" name="postalCode" value={{this.user?.postalCode}} disabled>
                    
                    <label class="input-label" for="contactNumber">Contact number</label>
                    <input class="info" type="tel" id="contactNumber" name="contactNumber" value={{this.user?.contactNumber}} disabled>
                </fieldset>
                <div class="button-container">
                    <button type="button" class="button" (click)="updateInfo = !updateInfo">Update account information</button>
                </div>
            </form>

            <form *ngIf="updateInfo" #updateForm="ngForm" (ngSubmit)="onSubmitUpdate(updateForm)">
                <fieldset>
                    <label class="input-label" for="firstName">First name*</label>
                    <input class="input" 
                        type="text"
                        ngModel={{this.user?.firstName}}
                        #firstName="ngModel"
                        name="firstName"
                        id="firstName"
                        required
                        minlength="2"
                        maxlength="40">
                    <p class="req">*required</p>

                    <section class="error" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="firstName.errors.required">
                                You need to enter your first name
                            </p>
                            <p *ngIf="firstName.errors.minlength">
                                Your first name must consist of at least 2 characters
                            </p>
                        </div>
                    </section>

                    <label class="input-label" for="lastName">Last name*</label>
                    <input class="input"
                        type="text"
                        ngModel={{this.user?.lastName}}
                        #lastName="ngModel"
                        name="lastName"
                        id="lastName"
                        required
                        minlength="2"
                        maxlength="40"
                        value="Doe">
                    <p class="req">*required</p>

                    <section class="error" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="lastName.errors.required">
                                You need to enter your last name
                            </p>
                            <p *ngIf="lastName.errors.minlength">
                                Your last name must consist of at least 2 characters
                            </p>
                        </div>
                    </section>

                    <label class="input-label" for="email">E-mail*</label>
                    <input class="input"
                        type="email"
                        ngModel={{this.user?.email}}
                        #email="ngModel"
                        name="email"
                        id="email"
                        required
                        minlength="2"
                        maxlength="40"
                        value="john.doe@gmail.com">
                    <p class="req">*required</p>

                    <section class="error" *ngIf="email.errors && (email.dirty || email.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="email.errors.required">
                                You need to enter your e-mail
                            </p>
                            <p *ngIf="email.errors.minlength">
                                Your e-mail must contain at least 2 characters
                            </p>
                        </div>
                    </section>

                    <label class="input-label" for="dateOfBirth">Date of birth</label>
                    <input class="input-not-req"
                        type="date"
                        ngModel={{this.user?.dateOfBirth}}
                        #dateOfBirth="ngModel"
                        name="dateOfBirth"
                        id="dateOfBirth"
                        min="1870-12-31"
                        value="1996-07-09">

                    <label class="input-label" for="country">Country of residence</label>
                    <input class="input-not-req"
                        type="text"
                        ngModel={{this.user?.country}}
                        #country="ngModel"
                        name="country"
                        id="country"
                        minlength="2"
                        maxlength="30"
                        value="Norway">

                    <section class="error" *ngIf="country.errors && (country.dirty || country.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="country.errors.minlength">
                                Country must contain at least 2 characters
                            </p>
                        </div>
                    </section>

                    <label class="input-label" for="postalCode">Postal code</label>
                    <input class="input-not-req"
                        type="string"
                        ngModel={{this.user?.postalCode}}
                        #postalCode="ngModel"
                        name="postalCode"
                        id="postalCode"
                        minlength="2"
                        maxlength="12"
                        value="5009">

                    <section class="error" *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="postalCode.errors.minlength">
                                Postal code must contain at least 2 characters
                            </p>
                        </div>
                    </section>
                    
                    <label class="input-label" for="contactNumber">Contact number</label>
                    <input class="input-not-req"
                        type="tel"
                        ngModel={{this.user?.contactNumber}}
                        #contactNumber="ngModel"
                        name="contactNumber"
                        id="contactNumber"
                        pattern="[0-9]+"
                        minlength="4"
                        maxlength="20"
                        value="004798029167">

                    <section class="error" *ngIf="contactNumber.errors && (contactNumber.dirty || contactNumber.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="contactNumber.errors.pattern">
                                Contact number can only contain numbers
                            </p>
                            <p *ngIf="contactNumber.errors.minlength">
                                Contact number must contain at least 4 digits
                            </p>
                        </div>
                    </section>
                </fieldset>
                <div class="button-container">
                    <button class="button" [disabled]="updateForm.form.invalid">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
