<nav class="navbar">
    <div class="title-menu-container">
        <div class="logo-title">
            <img class="logo" src="https://cdn-icons-png.flaticon.com/512/679/679720.png" alt="logo">
            <p class="title" (click)="onLogoClick()">The Boxinator</p>
        </div>
        <div class="navbar-menu" >
            <p class="navbar-menu-item" *ngIf="loggenInUser && loggenInUser.accountType===1" (click)="onMainClick()">Shipment Status</p>
            <p class="navbar-menu-item" *ngIf="loggenInUser && loggenInUser.accountType===2" (click)="onAdminClick()">Admin page</p>
            <p class="navbar-menu-item" *ngIf="loggenInUser && loggenInUser.accountType!==0" (click)="onUserClick()">User Account</p>
        </div>
    </div>  
    <div class="logout">
        <img class="logout-icon" src="https://cdn-icons-png.flaticon.com/512/56/56805.png" alt="logout icon">
        <p class="logout-text" (click)="onLogoutClick()">Logout</p>
    </div>
</nav>
