.navbar {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    width: 100%;
}

.navbar::before {
    content: normal;
}

.navbar::after {
    content: normal;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    margin: 1rem 1rem 1rem 3rem;
}

.title {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    color: rgb(65, 65, 65);
    cursor: pointer;
}

.title:hover {
    color: rgb(0, 0, 0);
}

.navbar-menu {
    display: flex;
}

.navbar-menu-item {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    color: rgb(65, 65, 65);
    margin: 0 0 0 5rem;
    cursor: pointer;
}

.navbar-menu-item:hover {
    color: rgb(0, 0, 0);
}

.title-menu-container {
    display: flex;
    align-items: center;
}

.logout {
    display: flex;
    margin: 0 8rem 0 0rem;
}

.logout-text {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    color: rgb(65, 65, 65);
    cursor: pointer;
}

.logout-text:hover {
    color: rgb(0, 0, 0);
}

.logout-icon {
    height: 29px;
    margin: 0.2rem 1.8rem 0 0;
}

@media only screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
    }

    .title-menu-container {
        flex-direction: column;
    }

    .navbar-menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar-menu-item {
        font-size: 22px;
        text-align: center;
    }

    .title {
        font-size: 25px;
    }

    .logo {
        width: 50px;
        margin: 1rem;
    }

    .logout {
        margin: 0 0 1rem 4rem;
    }

    .logout-icon {
        height: 20px;
        margin: .5rem 1.5rem 0 0;
    }

    .logout-text {
        font-size: 18px;
    }
}