<app-navbar></app-navbar>
<div class="flex-container">
    <div class="box">
        <div class="input-container">
            <h1>Guest shipment</h1>
            <div class="centerContent">
                <div class="hoverSvg">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-info-circle marginLeftSvg cursor-style hoverSvg svgStyleRegister"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                      d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                    />
                  </svg>
                  <div class="text_display borderRadius">
                    Email will only be used to send receipt for shipment.
                  </div>
                </div>
              </div>

              <form #shipmentForm="ngForm" (ngSubmit)="onSubmit(shipmentForm)">
                <fieldset>
                    <label class="input-label" for="email">Email</label>
                    <input
                        class="input"
                        type="text"
                        name="email"
                        ngModel
                        #email="ngModel"
                        required
                        minlength="4"
                        maxlength="40"
                        placeholder="example@email.com"/>
                    <p class="req">*required</p>

                    <section class="error" *ngIf="email.errors && (email.dirty || email.touched)">
                      <div class="alert alert-danger">
                          <p *ngIf="email.errors.required">
                              You need to enter your email
                          </p>
                          <p *ngIf="email.errors.minlength">
                              Email must consist of at least 4 characters
                          </p>
                      </div>
                    </section>
        
                    <label class="input-label" for="fullname">Reciever name</label>
                    <input
                        class="input"
                        type="text"
                        name="fullname"
                        ngModel
                        #fullname="ngModel"
                        minlength="4"
                        maxlength="40"
                        required
                        placeholder="Firstname M. Surname"/>
                    <p class="req">*required</p>
                    
                    <section class="error" *ngIf="fullname.errors && (fullname.dirty || fullname.touched)">
                      <div class="alert alert-danger">
                          <p *ngIf="fullname.errors.required">
                              You need to enter the full name of the reciever
                          </p>
                          <p *ngIf="fullname.errors.minlength">
                              Receiver name must consist of at least 4 characters
                          </p>
                      </div>
                    </section>
        
                    <label class="input-label" for="weight">Weight option</label>
                    <select
                        class="input"
                        type="select"
                        name="weight"
                        ngModel
                        #weight="ngModel"
                        required
                        (change)="onWeightChange($event.target)">
                        <option value="1">Basic 1KG</option>
                        <option value="2">Humble 2KG</option>
                        <option value="5">Deluxe 5KG</option>
                        <option value="8">Premium 8KG</option>
                    </select>
                    <p class="req">*required</p>
        
                    <label class="input-label" for="destination">Destination country</label>
                    <select
                class="input"
                type="select"
                name="selectedCountry"
                id="selectedCountry"
                ngModel
                #selectedCountry="ngModel"
                required
                (ngModelChange)="onCountryChange($event)">
                <option *ngFor="let country of this.countries" [ngValue]="country">
                    {{ country.countryName }}
                </option>
            </select>
                    <p class="req">*required</p>
            
                    <label class="input-label" for="destination">Box colour</label>
                    <input readonly
                        [value]="selectedColor"
                        [style.background]="selectedColor"
                        [cpOutputFormat]="'rgba'"
                        [(colorPicker)]="selectedColor"
                        (change)="onChangeColor(selectedColor)"
                        required
                        class="input"/>
                    <p class="req">*required</p>
        
                    <label class="input-label">Estimated cost: {{ this.cost }} NOK</label>
                    <button class="button button-container" [disabled]="shipmentForm.invalid" type="submit">
                        Add shipment
                    </button>
                </fieldset>
            </form>
            <p class="register-text" (click)="onRegisterClick()">Want to register as a user? Click here and go back to the front page and register</p>
        </div>
    </div>
</div>