.text-box {
  margin-right: auto;
  display: flex;
}

.main-page {
  display: flex;
  justify-content: center;
}

h3 {
  margin-bottom: 2rem;
}

.shipments-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.container {
  box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  width: 40vw;
  height: 38vh;
}

.container-add {
  box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 30vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  padding: 0 5rem 4rem 5rem;
}

.scroll-container {
  overflow-y: auto; 
  overflow-x: hidden; 
  width: 100%;
  height: 90%;
}

.background-color-error{
  background-color: red;
  opacity: 0.8;
}

.hover-svg {
  font-size: 13px;
}

.hover-svg:hover .text_display {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media only screen and (max-width: 1750px) {
  .container {
    width: 50vw;
    height: 60vh;
  }

  .container-add {
    width: 40vw;
    height: 130vh;
  }

  .hover-svg {
    font-size: 9px;
    position: absolute;
    margin-left: 13rem;
  }

  h3 {
      font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .main-page {
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    width: 90vw;
    height: 60vh;
  }

  .container-add {
    width: 90vw;
    height: 75vh;
  }

  .scroll-container {
    overflow: auto; 
  }

  h3 {
      font-size: 25px;
  }
}
    