<app-navbar></app-navbar>
  <div class="main-page">
    <div class="shipments-container">

      <div class="container">
        <div class=text-box>
          <h3>Shipments</h3>
          <div class="hoverSvg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-info-circle marginLeftSvg cursor-style hoverSvg svgStyle"
              viewBox="0 0 16 16">
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            <div class="text_display borderRadius">
              Click on a shipment in the table to view the complete status history.
              Click on the cancel icon to cancel a shipment.
            </div>
          </div>
        </div>
        <div class="scroll-container">
          <app-containershipments></app-containershipments>
        </div>
      </div>

      <div class="container">
        <div class=text-box>
          <h3>Completed Shipments</h3>
          <div class="hover-svg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-info-circle marginLeftSvg cursor-style hover-svg svgStyle"
              viewBox="0 0 16 16">
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            <div class="text_display borderRadius">
              Click on a shipment in the table to view the complete status history.
            </div>
          </div>
        </div>
        <div class="scroll-container">
          <app-completed-shipments></app-completed-shipments>
        </div>
      </div>
    </div>
    
  <div class="container-add">
    <h3>Add shipment</h3>
    <div class="scroll-container">
      <app-add-shipment></app-add-shipment>
    </div>
  </div>
</div>
