<div>
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Box tier</th>
          <th scope="col">Destination</th>
          <th scope="col">Cost NOK</th>
          <th scope="col">Status</th>
          <th scope="col">Box colour</th>
        </tr>
      </thead>

      <div></div>

      <tbody>
        <tr *ngFor="let shipment of completedShipments" id="{{ shipment.id }}" class="tableStyle" (click)="openDialogHistory(shipment)">
          <td>{{ shipment.date }}</td>
          <td>{{ translateBoxWeight(shipment.weight_kg) }}</td>
          <td>{{ shipment.destinationCountry | countryIdToName: countries}}</td>
          <td>{{ shipment.price }}</td>
          <td>{{ translateShipmentStatus(shipment.status) }}</td>
          <td style.background-color={{shipment.boxColour}}></td>
        </tr>
      </tbody>
    </table>
  </div>
