<div class="history-container">
    <h1>Status history</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <div></div>
        <tbody>
            <tr *ngFor="let status of statusHistory" class="tableStyle">
                <td>{{ status.date }}</td>
                <td>{{ status.status }}</td>
            </tr>
        </tbody>
    </table>
</div>

