<div class="input">
    <form #shipmentForm="ngForm" (ngSubmit)="onSubmit(shipmentForm)">
        <fieldset>
            <label class="input-label" for="receiverName">Receiver Name</label>
            <input
                class="input"
                type="text"
                name="receiverName"
                id="receiverName"
                ngModel
                #receiverName="ngModel"
                required
                minlength="4"
                maxlength="40"
                placeholder="Firstname M. Surname"/>
            <p class="req">*required</p>

            <section class="error" *ngIf="receiverName.errors && (receiverName.dirty || receiverName.touched)">
                <div class="alert alert-danger">
                    <p *ngIf="receiverName.errors.required">
                        You need to enter the full name of the reciever
                    </p>
                    <p *ngIf="receiverName.errors.minlength">
                        Receiver name must consist of at least 4 characters
                    </p>
                </div>
            </section>

            <div *ngIf="isAdmin">
                <label class="input-label" for="selectedEmail">Account E-mail</label>
                <select
                    name="selectedEmail"
                    id="selectedEmail"
                    class="input"
                    [(ngModel)]="selectedUser"
                    (ngModelChange)="onUserChange($event)">
                    <option *ngFor="let user of this.users" [ngValue]="user">
                        {{ user.email }}
                    </option>
                </select>
                <p class="req">*required</p>
            </div>
            
            <label class="input-label" for="weight">Weight option</label>
            <select
                class="input"
                type="select"
                name="weight"
                id="weight"
                ngModel
                #weight="ngModel"
                required
                (change)="onWeightChange($event.target)">
                <option value="1">Basic 1KG</option>
                <option value="2">Humble 2KG</option>
                <option value="5">Deluxe 5KG</option>
                <option value="8">Premium 8KG</option>
            </select>
            <p class="req">*required</p>

            <section class="error" *ngIf="weight.errors && (weight.dirty || weight.touched)">
                <div class="alert alert-danger">
                    <p *ngIf="weight.errors.required">
                        You must select package weight
                    </p>
                </div>
            </section>

            <label class="input-label" for="selectedCountry">Destination country</label>
            <select
                class="input"
                type="select"
                name="selectedCountry"
                id="selectedCountry"
                ngModel
                #selectedCountry="ngModel"
                required
                (ngModelChange)="onCountryChange($event)">
                <option *ngFor="let country of this.countries" [ngValue]="country">
                    {{ country.countryName }}
                </option>
            </select>
            <p class="req">*required</p>

            <section class="error" *ngIf="selectedCountry.errors && (selectedCountry.dirty || selectedCountry.touched)">
                <div class="alert alert-danger">
                    <p *ngIf="selectedCountry.errors.required">
                        You must select destination country
                    </p>
                </div>
            </section>
    
            <label class="input-label" for="color">Box colour</label>
            <input
                [value]="selectedColor"
                [style.background]="selectedColor"
                [cpOutputFormat]="'rgba'"
                [(colorPicker)]="selectedColor"
                (change)="onColorChange(selectedColor)"
                required
                readonly
                class="input"/>
            <p class="req">*required</p>

            <label class="input-label">Estimated cost: {{ this.cost }} NOK</label>
            <button class="button" [disabled]="shipmentForm.invalid" type="submit">
                Add shipment
            </button>
        </fieldset>
    </form>
</div>
