.input-label {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.input {
    display: inline-block;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.req {
    font-size: 16px;
}
 
.background-color-error{
    background-color: red;
    opacity: 0.8;
}