.center-content{
   text-align: center;
}

.icon-box {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.icon {
   width: 2rem;
   cursor: pointer;
}

.delete-icon {
   margin: 0 2rem 0 1rem;
}

.tableStyle {
   cursor: pointer;
}

.status-toggle {
   display: inline;
   margin: 0 1rem 1rem 0;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   background-color: white;
   border-radius: 5px;
}

.status-toggle:hover {
   background-color: rgb(185, 185, 185);
   transition: 0.3s;
}
