<div>
  <button *ngIf="isAdmin" class="status-toggle" (click)="onActiveClick()">Active shipments</button>
  <button *ngIf="isAdmin" class="status-toggle" (click)="onCompletedClick()">Completed shipments</button>
  <button *ngIf="isAdmin" class="status-toggle" (click)="onCancelledClick()">Cancelled shipments</button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col" *ngIf="isAdmin">Account ID</th>
          <th scope="col" *ngIf="isAdmin">Receiver name</th>
          <th scope="col">Box tier</th>
          <th scope="col">Destination</th>
          <th scope="col">Cost NOK</th>
          <th scope="col">Status</th>
          <th scope="col">Box colour</th>
          <th scope="col" *ngIf="!completed && !isAdmin">Cancel</th>
          <th scope="col" *ngIf="isAdmin">Delete/Edit</th>
        </tr>
      </thead>

      <div></div>

      <tbody>
        <tr *ngFor="let shipment of shipments" id="{{ shipment.id }}" class="tableStyle">
          <td (click)="openDialogHistory(shipment)">{{ shipment.date }}</td>
          <td (click)="openDialogHistory(shipment)" *ngIf="isAdmin">{{ shipment.accountId }}</td>
          <td (click)="openDialogHistory(shipment)" *ngIf="isAdmin">{{ shipment.receiverName }}</td>
          <td (click)="openDialogHistory(shipment)">{{ translateBoxWeight(shipment.weight_kg) }}</td>
          <td (click)="openDialogHistory(shipment)">{{ shipment.destinationCountry | countryIdToName: countries}}</td>
          <td (click)="openDialogHistory(shipment)">{{ shipment.price }}</td>
          <td (click)="openDialogHistory(shipment)">{{ translateShipmentStatus(shipment.status) }}</td>
          <td (click)="openDialogHistory(shipment)" style.background-color={{shipment.boxColour}}></td>
          <td *ngIf="!isAdmin && shipment.status !== 3" class="center-content" (click)="onCancelClick(shipment)">
            <svg xmlns="http://www.w3.org/2000/svg" 
                  version="1.0" 
                  class="icon"
                  viewBox="0 0 700.000000 696.000000" 
                  preserveAspectRatio="xMidYMid meet">
              <g transform="translate(0.000000,696.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path d="M3115 6950 c-11 -5 -130 -56 -265 -114 -400 -171 -912 -396 -1700 -749 -129 -58 -372 -166 -540 -241 -168 -75 -374 -167 -457 -204 l-153 -67 0 -2096 0 -2095 227 -101 c2212 -985 2760 -1225 2903 -1271 34 -11 54 -4 580 231 300 134 706 315 904 403 197 87 360 164 363 170 5 14 -49 156 -77 201 l-19 32 -118 -48 c-121 -50 -296 -126 -1041 -455 -232 -102 -427 -186 -432 -186 -7 0 -9 645 -8 1852 l3 1853 210 93 c396 177 488 214 495 202 14 -23 20 -285 20 -936 0 -369 3 -673 6 -676 3 -4 38 9 77 27 112 51 983 468 1265 605 l252 123 0 792 c0 622 3 795 13 802 22 18 327 153 357 160 l30 6 1 -959 c0 -528 4 -996 8 -1042 6 -66 13 -88 31 -107 50 -53 133 -53 193 0 l27 24 0 1199 0 1199 -27 12 c-47 22 -1331 592 -2038 906 -368 163 -755 335 -860 381 -104 46 -194 84 -200 83 -5 0 -19 -4 -30 -9z m260 -385 c1079 -474 2130 -947 2320 -1043 l90 -45 -80 -38 c-44 -21 -124 -57 -177 -80 l-96 -42 -749 333 c-1238 551 -1887 840 -1892 846 -12 11 35 39 179 104 100 44 162 67 175 63 11 -3 115 -47 230 -98z m-889 -236 c27 -12 508 -225 1069 -474 561 -249 1136 -504 1277 -566 142 -63 258 -116 258 -119 0 -3 -57 -31 -127 -62 -71 -31 -295 -131 -499 -222 -205 -91 -379 -166 -387 -166 -15 0 -317 132 -1382 605 -980 435 -1265 565 -1265 574 0 9 33 25 351 169 450 205 623 281 640 281 9 1 38 -9 65 -20z m-802 -850 c1303 -579 2006 -895 2019 -908 4 -4 -23 -24 -60 -44 -86 -44 -369 -172 -448 -202 l-60 -23 -160 70 c-380 165 -1619 715 -2259 1004 l-218 98 28 23 c16 12 83 48 149 78 182 85 379 173 389 174 5 1 284 -121 620 -270z m-1126 -335 c144 -63 751 -333 1350 -599 l1087 -483 7 -1064 c8 -1153 0 -2638 -13 -2638 -12 0 -460 197 -1654 728 l-1050 467 -3 1853 c-1 1018 1 1852 5 1852 5 0 126 -52 271 -116z m4777 -248 c11 -104 2 -1213 -11 -1226 -5 -5 -194 -99 -420 -208 -584 -283 -613 -296 -621 -288 -4 3 -7 304 -7 668 l-1 662 275 124 c435 197 744 331 762 331 13 1 18 -12 23 -63z"/>
                <path d="M5841 2765 c-209 -49 -344 -120 -476 -247 -142 -136 -230 -283 -282 -475 -23 -84 -27 -117 -26 -233 0 -112 5 -152 25 -230 100 -376 394 -656 763 -725 120 -23 326 -16 440 14 317 84 599 370 687 696 32 119 31 365 -1 485 -113 422 -482 717 -921 736 -88 3 -122 0 -209 -21z m378 -280 c207 -50 431 -272 486 -480 10 -39 15 -105 15 -195 0 -90 -5 -156 -15 -195 -45 -173 -204 -354 -394 -448 l-84 -42 -174 -3 c-209 -4 -268 9 -386 88 -86 57 -207 182 -255 262 -66 110 -74 150 -70 352 l3 181 41 85 c23 47 62 113 87 147 90 121 248 226 389 258 77 18 263 13 357 -10z"/>
                <path d="M5740 2100 c-34 -34 -40 -46 -40 -83 0 -47 11 -67 82 -145 26 -30 48 -58 48 -63 0 -6 -22 -34 -49 -62 -95 -101 -106 -162 -41 -227 67 -67 128 -53 241 56 l45 44 60 -53 c113 -103 162 -112 230 -43 67 67 58 114 -43 226 l-56 61 45 47 c111 116 124 169 54 238 -68 69 -116 60 -228 -43 l-60 -55 -47 45 c-113 110 -174 124 -241 57z"/>
              </g>
            </svg>
          </td>
          <td *ngIf="isAdmin" class="center-content">
            <div class="icon-box">
              <img 
              (click)="onDeleteShipmentClick(shipment.id)" 
              class="icon delete-icon" 
              src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" 
              alt="delete">
              <img 
                *ngIf="shipment.accountId != user?.id" 
                (click)="openDialogEdit(shipment)" 
                class="icon edit-icon" 
                src="https://cdn-icons-png.flaticon.com/512/1250/1250615.png" 
                alt="edit">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
