.box { 
	box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
	width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 5rem 0;
}

.input-container {
    width: 65%;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 2rem;
    font-weight: 400;
}

.input-label {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.input {
    display: inline-block;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.req {
    font-size: 16px;
    color: red;
}

.input-not-req {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.button-container {
    margin-bottom: 4rem;
}

.centerInside{
    justify-content: center;
}

.svgStyleRegister{
    margin-top: 2.3rem;
    margin-right: 1.5rem;
    display: inline-block;
}

@media only screen and (max-width: 900px) {
    .box { 
        width: 90%;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 1rem;
    }
}