<app-navbar></app-navbar>
<div class="flex-container">
    <div class="box">
        <div class="input-container">
            <h1>Sign up</h1>
            <div class="centerContent">
                <div class="hoverSvg">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-info-circle marginLeftSvg cursor-style hoverSvg svgStyleRegister"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                      d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                    />
                  </svg>
                  <div class="text_display borderRadius">
                    Information required to register user
                  </div>
                </div>
              </div>
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <fieldset>
                    <label class="input-label" for="firstName">First name*</label>
                    <input class="input" 
                        type="text"
                        ngModel
                        #firstName="ngModel"
                        name="firstName"
                        id="firstName"
                        ngModel={{this.googleUser?.firstName}}
                        required
                        minlength="2"
                        maxlength="40"
                        placeholder="John">
                    <p class="req">*required</p>

                    <section class="error" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="firstName.errors.required">
                                You need to enter your first name
                            </p>
                            <p *ngIf="firstName.errors.minlength">
                                Your first name must consist of at least 2 characters
                            </p>
                        </div>
                    </section>

                    <label class="input-label" for="lastName">Last name*</label>
                    <input class="input"
                        type="text"
                        ngModel
                        #lastName="ngModel"
                        name="lastName"
                        id="lastName"
                        ngModel={{this.googleUser?.lastName}}
                        required
                        minlength="2"
                        maxlength="40"
                        placeholder="Doe">
                    <p class="req">*required</p>

                    <section class="error" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="lastName.errors.required">
                                You need to enter your last name
                            </p>
                            <p *ngIf="lastName.errors.minlength">
                                Your last name must consist of at least 2 characters
                            </p>
                        </div>
                    </section>

                    <label class="input-label" for="email">E-mail*</label>
                    <input class="input"
                        type="email"
                        ngModel
                        #email="ngModel"
                        name="email"
                        id="email"
                        ngModel={{this.googleUser?.email}}
                        required
                        minlength="2"
                        maxlength="40"
                        placeholder="example@email.com">
                    <p class="req">*required</p>

                    <section class="error" *ngIf="email.errors && (email.dirty || email.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="email.errors.required">
                                You need to enter your e-mail
                            </p>
                            <p *ngIf="email.errors.minlength">
                                Your e-mail must contain at least 2 characters
                            </p>
                        </div>
                    </section>

                    <label class="input-label" for="dateOfBirth">Date of birth</label>
                    <input class="input-not-req"
                        type="date"
                        ngModel
                        #dateOfBirth="ngModel"
                        name="dateOfBirth"
                        id="dateOfBirth"
                        min="1870-12-31"
                        placeholder="dd/mm/yyyy">

                    <label class="input-label" for="country">Country of residence</label>
                    <input class="input-not-req"
                        type="text"
                        ngModel
                        #country="ngModel"
                        name="country"
                        id="country"
                        minlength="2"
                        maxlength="30"
                        placeholder="Country">

                    <section class="error" *ngIf="country.errors && (country.dirty || country.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="country.errors.minlength">
                                Country must contain at least 2 characters
                            </p>
                        </div>
                    </section>

                    <label class="input-label" for="postalCode">Postal code</label>
                    <input class="input-not-req"
                        type="string"
                        ngModel
                        #postalCode="ngModel"
                        name="postalCode"
                        id="postalCode"
                        minlength="2"
                        maxlength="12"
                        placeholder="0000">

                    <section class="error" *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="postalCode.errors.minlength">
                                Postal code must contain at least 2 characters
                            </p>
                        </div>
                    </section>
                    
                    <label class="input-label" for="contactNumber">Contact number</label>
                    <input class="input-not-req"
                        type="tel"
                        ngModel
                        #contactNumber="ngModel"
                        name="contactNumber"
                        id="contactNumber"
                        pattern="[0-9]+"
                        minlength="4"
                        maxlength="20"
                        placeholder="000012345678">

                    <section class="error" *ngIf="contactNumber.errors && (contactNumber.dirty || contactNumber.touched)">
                        <div class="alert alert-danger">
                            <p *ngIf="contactNumber.errors.pattern">
                                Contact number can only contain numbers
                            </p>
                            <p *ngIf="contactNumber.errors.minlength">
                                Contact number must contain at least 4 digits
                            </p>
                        </div>
                    </section>
                </fieldset>

                <div class="button-container">
                    <button class="button" [disabled]="registerForm.form.invalid">Sign up</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

