<app-navbar></app-navbar>
<div class="admin-page">

    <!-- Shipments -->
    <div class="container">
        <div class="heading-box">
            <h1 class="heading">Shipments</h1>
            <div class="hoverSvg">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-info-circle marginLeftSvg cursor-style hoverSvg svgStyle"
                viewBox="0 0 16 16">
                <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                <div class="text_display borderRadius">
                    Toggle shipments by status. Click on the edit icon to edit a shipment. Click on the delete icon to delete a shipment.
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <app-containershipments></app-containershipments>
        </div>
    </div>

    <!-- Add Shipment -->
    <div class="container">
        <h1 class="heading">Add Shipment</h1>
        <div class="scroll-container">
            <app-add-shipment [countriesInp]='this.countries'></app-add-shipment>
        </div>
    </div>
    
    <!-- Add / Edit Countries -->
    <div class="container">
        <h1 class="heading">Add/Edit Countries</h1>
        <div class="country-container">
            <div class="flex-container-country">
                <p class="sub-heading">Add New Country</p>
                <form #countryForm="ngForm" (ngSubmit)="onCountryAdd(countryForm)">
                    <fieldset>
                        <label class="input-label" for="countryName">Country Name*</label>
                        <input
                            class="input" 
                            type="text" 
                            id="countryName" 
                            name="countryName"
                            ngModel
                            #countryName="ngModel"
                            required
                            minlength="2"
                            maxlength="40"
                            placeholder="Insert country name here">
                            <p class="req">*required</p>
    
                        <section class="error" *ngIf="countryName.errors && (countryName.dirty || countryName.touched)">
                            <div class="alert alert-danger">
                                <p *ngIf="countryName.errors.required">
                                    You need to enter a country name
                                </p>
                                <p *ngIf="countryName.errors.minlength">
                                    Country name must consist of at least 2 characters
                                </p>
                            </div>
                        </section>
    
                        <label class="input-label" for="countryMultiplier">Country Multiplier*</label>
                        <input
                            class="input" 
                            type="number" 
                            id="countryMultiplier" 
                            name="countryMultiplier"
                            ngModel
                            #countryMultiplier="ngModel"
                            required
                            placeholder="Insert country multiplier here">
                            <p class="req">*required</p>
    
                        <section class="error" *ngIf="countryMultiplier.errors && (countryMultiplier.dirty || countryMultiplier.touched)">
                            <div class="alert alert-danger">
                                <p *ngIf="countryMultiplier.errors.required">
                                    You need to enter a country multiplier
                                </p>
                            </div>
                        </section>
                    </fieldset>
                    <button class="add-button" [disabled]="countryForm.form.invalid">Add Country</button>
                </form>
            </div>
            
            <div class="flex-container-country">
                <p class="sub-heading">Edit Country Multipliers</p>
                <fieldset>
                    <label class="input-label" for="selectedCountry">Country</label>
                    <select
                        name="selectedCountry"
                        id="selectedCountry"
                        class="input-select"
                        [(ngModel)]="selectedCountry"
                        (ngModelChange)="onCountryChange($event)">
                        <option *ngFor="let country of this.countries" [ngValue]="country">
                            {{ country.countryName }}
                        </option>
                    </select>
                    
                    <form #multiplierForm="ngForm" (ngSubmit)="onMultiplierUpdate(multiplierForm)">
                        <label class="input-label" for="countryMultiplierEdit">Country Multiplier</label>
                        <input
                            class="input" 
                            type="text" 
                            name="countryMultiplierEdit"
                            ngModel="{{ selectedCountry?.countryMultiplier }}"
                            #countryMultiplierEdit="ngModel"
                            required>
                            <p class="req">*required</p>

                            <section class="error" *ngIf="countryMultiplierEdit.errors && (countryMultiplierEdit.dirty || countryMultiplierEdit.touched)">
                                <div class="alert alert-danger">
                                    <p *ngIf="countryMultiplierEdit.errors.required">
                                        You need to enter a country multiplier
                                    </p>
                                </div>
                            </section>
                        <button class="add-button" [disabled]="multiplierForm.form.invalid">Edit Country</button>
                    </form>
                </fieldset>
            </div>        
        </div>
    </div>

    <!-- Change account type -->
    <div class="container">
        <div class="inner-container">
            <h1 class="heading">Change Account Type</h1>
            <form #accountTypeForm="ngForm" (ngSubmit)="onChangeUserSubmit(accountTypeForm)">
                <label class="input-label" for="selectedEmail">Account E-mail</label>
                <select
                    name="selectedEmail"
                    class="country-input"
                    required
                    [(ngModel)]="selectedUser"
                    (ngModelChange)="onUserChange($event)">
                    <option *ngFor="let user of this.users" [ngValue]="user">
                        {{ user.email }}
                    </option>
                </select>

                <section class="error" *ngIf="accountTypeForm.errors && (accountTypeForm.dirty || accountTypeForm.touched)">
                    <div class="alert alert-danger">
                        <p *ngIf="accountTypeForm.errors.required">
                            You need select an account
                        </p>
                    </div>
                </section>
            
                <label class="input-label" for="userId">Account ID</label>
                <input
                    class="info" 
                    type="text" 
                    name="userId"
                    ngModel="{{ selectedUser?.id }}"
                    #userId="ngModel"
                    required
                    disabled>

                <label class="input-label" for="userName">Account Name</label>
                <input
                    class="info" 
                    type="text" 
                    name="userName"
                    value={{userName}}
                    disabled>

                <label class="input-label" for="userType">Account Type</label>
                <select
                    name="userType"
                    class="country-input"
                    required
                    [(ngModel)]="selectedUserType"
                    (change)="onUserTypeChange($event.target)">
                    <option value="1">Regular user</option>
                    <option value="2">Administrator</option>
                </select>

                <button class="button" [disabled]="accountTypeForm.form.invalid">Change Account Type</button>
            </form>
        </div>
    </div>

    <!-- Delete User Account -->
    <div class="container">
        <div class="inner-container-delete">
            <h1 class="heading">Delete Account</h1>
            <form #deleteForm="ngForm" (ngSubmit)="onDeleteUserSubmit(deleteForm)">
                <label class="input-label" for="selectedEmail">Account E-mail</label>
                <select
                    name="selectedEmail"
                    class="country-input"
                    required
                    [(ngModel)]="selectedUserDelete"
                    (ngModelChange)="onUserChangeDelete($event)">
                    <option *ngFor="let user of this.users" [ngValue]="user">
                        {{ user.email }}
                    </option>
                </select>

                <section class="error" *ngIf="deleteForm.errors && (deleteForm.dirty || deleteForm.touched)">
                    <div class="alert alert-danger">
                        <p *ngIf="deleteForm.errors.required">
                            You need select an account to delete
                        </p>
                    </div>
                </section>
            
                <label class="input-label" for="userId">Account ID</label>
                <input
                    class="info" 
                    type="text" 
                    name="userId"
                    ngModel="{{ selectedUserDelete?.id }}"
                    #userId="ngModel"
                    disabled>

                <label class="input-label" for="userName">Account Name</label>
                <input
                    class="info" 
                    type="text" 
                    name="userName"
                    value={{userNameDelete}}
                    disabled>

                <button class="delete-button" [disabled]="deleteForm.form.invalid">Delete Account</button>
            </form>
        </div>
    </div>
</div>
