.admin-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
	width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding: 0 5rem 4rem 5rem;
}

.inner-container {
    width: 110rem;
    height: 45rem;
}

.inner-container-delete {
    width: 110rem;
    height: 37rem;
}

.country-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 110rem;
    min-height: 30rem;
    height: fit-content;
}

.flex-container-country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 8rem 0 8rem;
}

.heading {
    font-size: 25px;
    font-weight: 500;
    margin-right: auto;
    margin-bottom: 2rem;
}

.scroll-container {
    overflow-y: auto; 
    overflow-x: hidden; 
    width: 110rem;
    height: 45rem;
}

.input-label {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.info {
    display: inline-block;
    width: 100%;
    margin: 0 0 2rem 0;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    color: black;
    border-width: 0.5px;
}

.input {
    display: inline-block;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.input-select {
    display: inline-block;
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.country-input{
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.edit-icon {
    width: 2rem;
    margin: 0 0 .7rem 1.5rem;
    cursor: pointer;
}

.delete-button {
    width: 100%;
    background-color: #DC6767;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 2rem;
}

.delete-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.delete-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.add-button {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 2rem;
}

.add-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.add-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.sub-heading {
    font-size: 23px;
    font-weight: 500;
    margin-right: auto;
    margin-bottom: 2rem;
}

.heading-box {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

@media only screen and (max-width: 900px) {
    .scroll-container {
        overflow: auto;
        width: 85vw;
        height: 45vh; 
    }

    .container {
        height: 50vh;
        padding: 2rem;
    }

    .heading-box {
        width: 0;
        margin-right: auto;
    }

    .country-container {
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        width: 85vw;
        height: 45vh;
    }

    .inner-container {
        overflow: auto;
        width: 85vw;
        height: 45vh; 
    } 

    .inner-container-delete {
        overflow: auto;
        width: 85vw;
        height: 45vh; 
    }

    .heading {
        font-size: 22px;
    }

    .flex-container-country {
        margin: 2rem 0 2rem 0;
    }
}
