/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary-color: #63bacd;
}

* {
  font-family: "Roboto", sans-serif;
}

.backgroundColor {
  background-color: var(--primary-color);
}

.button {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 25px;
  font-weight: 500;
  margin-top: 2rem;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.borderRadius {
  border-radius: 5px;
}

.cursor-style {
  cursor: pointer;
}

.error {
  font-size: 17px;
  margin-bottom: 2rem;
}

.hide {
  display: none;
}

.svg:hover ~ .hide {
  display: block;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.text_display {
  transform-origin: top;
  transition-duration: 0.5s;
  -webkit-transform-origin: top;
  -webkit-transition-duration: 0.5s;
  -moz-transform-origin: top;
  -moz-transition-duration: 0.5s;
  -o-transform-origin: top;
  -o-transition-duration: 0.5s;
  display: inline-block;
  color: #fff;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.hoverSvg {
  font-size: 13px;
}

.hoverSvg:hover .text_display {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.svgStyle {
  margin-top: 2.3rem;
  margin-left: 1.3rem;
  margin-right: 1.5rem;
  display: inline-block;
}

.centerContent {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .hoverSvg {
    font-size: 9px;
    position: absolute;
    margin-left: 7rem;
  }
}
