.box { 
    box-shadow: 2px 4px 4px 4px rgb(0 0 0 / 25%);
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.input-container {
    width: 70%;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 3rem;
    font-weight: 400;
}

.input-label {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.input {
    display: inline-block;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.req {
    font-size: 16px;
    color: red;
}

.input-not-req {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 5px;
    height: 28px;
    font-size: 18px;
    border-width: 0.5px;
}

.button-container {
    margin-bottom: 4rem;
}

.centerInside{
    justify-content: center;
}

.svgStyleRegister{
    margin-top: 2.3rem;
    margin-right: 1.5rem;
    display: inline-block;
}

.hover-svg {
    font-size: 13px;
}

.hover-svg:hover .text_display {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

@media only screen and (max-width: 900px) {
    .box { 
        width: 90%;
        height: fit-content;
    }

    h1 {
        font-size: 25px;
    }

    .hover-svg {
        font-size: 12px;
        position: absolute;
        margin-left: 18rem;
    }
}