<div class="page-container">
  <div class="box">
    <div class="input-container">
      <h1>Two Factor Authentication</h1>
      <div class="hover-svg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          viewBox="0 0 16 16">
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
          />
        </svg>
        <div class="text_display borderRadius">
          Verification code was sent to the email you registered with
        </div>
      </div>
    
      <form #verificationForm="ngForm" (ngSubmit)="onSubmit(verificationForm)">
        <fieldset>
          <label class="input-label" for="verificationCode">Verification Code*</label>
          <input
            class="input"
            type="text"
            name="verificationCode"
            ngModel
            #verificationCode="ngModel"
            required
            minlength="4"
            maxlength="10"
            placeholder="Enter verification code here"/>
          <p class="req">*required</p>

          <section class="error"
            *ngIf="verificationCode.errors && (verificationCode.dirty || verificationCode.touched)">
            <div class="alert alert-danger">
              <p *ngIf="verificationCode.errors.required">
                You need to enter verification code
              </p>
              <p *ngIf="verificationCode.errors.minlength">
                Enter entire code
              </p>
            </div>
          </section>
          <div class="button-container">
            <button class="button" [disabled]="verificationForm.form.invalid">
              Send Code
            </button>
          </div>
        </fieldset>
      </form>
      <div class="button-container"  *ngIf="codeAgain" >
        <button class="button" (click)="onClickNewCode()">
          New Code
        </button>
      </div>
    </div>
  </div>
</div>
